.button {
    background-color: #466fbb; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    float: right;
}

.buttonLink {
    background-color: #e8b9d0; /* Green */
    border: none;
    color: #530909;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
}